<?xml version="1.0"?>
<!--
/**
* Copyright © Dazoot Software S.R.L. rights reserved.
* See LICENSE.txt for license details.
*
* @website https://www.newsman.ro/
*/
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="dazoot_newsman_save_configure_list_after">
        <observer name="dazoot_newsmanmarketing_save_configure_list_after"
                  instance="Dazoot\Newsmanmarketing\Observer\SaveConfigureListAfterObserver"/>
    </event>
</config>
